input{
    position: relative;
    width: 400px;
    height: 50px;
    background-color: transparent;
    justify-content: center;
    border-bottom: solid tomato 1px ;
    border-left: solid tomato 1px ;
    align-content: center center;
  

    
}
#quote{
    font-family: 'Dancing Script';
    margin-left: 400px;
    justify-content: center;
    color: rgb(45, 82, 151);
    background-color:tomato;
   
}
textarea{
    background-color:transparent ;
    border-bottom: solid tomato 1px ;
    border-left: solid tomato 1px ;
    
}
hr{
    color: tomato;
}
h2{
    color: rgb(45, 82, 151);
    background-color: tomato;
}

    
