<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
<link href="https://fonts.googleapis.com/css?family=Dancing+Script&display=swap" rel="stylesheet">
<body class="text-center">
  <div class = nav>
   <h1 style="font-family: 'Dancing Script'; position: center center; padding: 30px; padding-left: 550px; font-size: 34px;">MY QUOTES</h1>
   </div>
  <div  class = "overlay">
   <div><br><br>

<h2> ABOUT MY QUOTES   </h2>
<p> My Quotes is an online platform where yo get to view Quotes,whether Inspirational,love,
     success or simple life quotes, from legends such as Nelson Mandelalike or dislike a quote
     you find memorable.You can also get to post your own quotes from your own legends.
    </p><br> 
    <h2> QUOTE WALL</h2>
    <hr>
   

   </div>
  <app-quote></app-quote> 
  </div>
</body>





<router-outlet></router-outlet>