#child1{
   
    color: white;
    border-radius: 100px;
    margin-top: 10px;
}
#up{
    color: rgb(28, 82, 184);
    
}
#down{
    margin-left: 80px; 
    color:rgb(206, 22, 22) ;
    
}
#remove:hover{
    color: red;
     cursor: pointer;
}
#remove{
    color: rgba(243, 69, 16, 0.767);
}
.rowA{
    border:solid 2px tomato;
    width: 750px; 
    margin-left: 150px;
    
    align-content: center center;
    align-items: center center;
    justify-content: center;
    border-radius: 60px;
   
}

.rowB{
    margin-top: 15px;
}
