
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
<div class = "container">
    <div *ngFor = "let quote of quotes; let i = index ">
        <div class="rowB">
     
        <app-goal-details [quote] = 'quote' (toDelete) ='deleteEntry($event,i)'></app-goal-details>
    </div>
    </div>

<div class = "row ">
    
    <div class = "col-lg-7"  >
    
<div  id = "child1">
    
</div>
<hr style="color: tomato;">
    <app-form (toAdd) = 'addEntry($event)'></app-form> 
    
    
</div>

</div>
</div>